@import "colors";

body {
	background-color: $backgroundblue;
}


.pageHeader {
	text-align: right;
	margin-right: 50px;
}


.nameCard {

	border-right: 1px solid $black;
	border-left: 1px solid $black;
	border-bottom: 1px solid $black;
	border-top: 3px solid $cardTopBorder;
	background-color: $nameCardBlue;
	margin-top: 50px;
	margin-left: 25px;
	padding-left: 25px;

	h4 {
		margin-top: 35px;
		margin-bottom: 0;
	}

	.phone {
		margin-bottom: 35px;
	}
}


.new-address-form {

	button {
		margin-top: 15px;
		margin-right: 15px;
	}
}

