@import "colors";

body {
	background-size: cover;
	background-image: url("/images/wallpaper.jpeg");
}


.pageHeader {
	text-align: right;
	margin-right: 50px;
	color: $heathergray;
}


.nameCard {

	border-right: 1px solid $black;
	border-left: 1px solid $black;
	border-bottom: 1px solid $black;
	border-top: 3px solid $silver;
	border-radius: 10px;
	background-color: $nameCardBlue;
	margin-top: 50px;
	margin-left: 25px;
	padding-left: 25px;

	h4 {
		margin-top: 15px;
		margin-bottom: 0;
		color: $darkslategray;
	}

	.phone {
		margin-bottom: 0px;
	}
}


	.buttonDiv {
		margin-bottom: 40px;

		button {
			margin-right: 5px;
		}
	}

