@import "colors";
@import "fonts";

body {
	background-size: cover;
	background-image: url("/images/wallpaper.jpeg");
	font: 100% $font-stack;
	font-size: 1.3em;
}


.pageHeader {
	text-align: right;
	margin-right: 50px;
	color: $heathergray;
}


.container {
	padding-right: 0;
}


.loginContainer {
	padding-top: 10%;
}


.textSearch {
	margin-left: 70px;
}


// list view cards
.nameCard {

	border-right: 1px solid $black;
	border-left: 1px solid $black;
	border-bottom: 1px solid $black;
	border-top: 3px solid $silver;
	border-radius: 10px;
	background-color: $nameCardBlue;
	margin-top: 50px;
	margin-left: 70px;
	padding-left: 25px;

	h3 {
		margin-top: 15px;
		margin-bottom: 0;
		color: $darkslategray;
	}

	.phone {
		margin-bottom: 10px;
	}
}



// add new contact input form
.newAddressForm {

	padding-top: 50px;
	
	label {
		color: $heathergray;
		font-size: 2em;
	}

	input {
		background-color: $nameCardBlue;
	}
}



// button styling
.buttonDiv, .newAddressForm.buttonDiv {
	margin-bottom: 40px;

	button {
		margin-right: 5px;
	}
}

