<!-- <div ng-show="listAddresses"> -->

 <!-- <div class="row"> -->
	<div class="col-xs-1 col-xs-offset-10">
		<button type="button" class="btn btn-primary btn-sm" ng-click="addAddress()">Add Address</button>
	</div> <!-- .col -->
<!-- </div>  .row -->

<!-- <div class="row"> -->
	<div ng-repeat="address in addresses">
		<div class="nameCard col-xs-3 col-xs-offset-1">
			<div><h4 class="personName">{{address.FirstName}} {{address.LastName}}</h4></div>
			<div>{{address.StreetAddress}}</div>
			<div>{{address.City}}, {{address.State}}  {{address.Zip}}</div>
			<div class="phone">{{address.Phone}}</div>
		</div> <!-- .col -->
	</div>  ng-repeat -->
 <!-- </div>  .row -->
<!-- </div>  ng-show -->

	
