<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NSS Address Book</title>

	<link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body ng-app="addressBook">

	<div ng-controller="AddressCtrl">

		<h1>NSS Address Book</h1>
		
		<div class="row">
			<div class="col-xs-8 col-xs-offset-1">

				<button type="button" class="btn btn-primary btn-sm" ng-click="addAddress()">Add Address</button>

			</div> <!-- .col -->
		</div> <!-- .row -->

		<div class="row">
			<div class="col-xs-3 col-xs-1-offset col-xs-3 col-xs-3">
				<div ng-repeat="address in addresses">
					<div><h2 class="personName">{{address.FirstName}} {{address.LastName}}</h2></div>
					<div>{{address.StreetAddress}}</div>
					<div>{{address.City}}, {{address.State}}  {{address.Zip}}</div>
					<div class="phone">{{address.Phone}}</div>
				</div> <!-- .col -->
			</div> <!-- .col -->
		</div> <!-- .row -->

	</div> <!-- ng-controller="ItemCtrl" -->



  
	<!-- 3rd party scripts -->
	<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
	<script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>

	<!-- personal scripts -->
	<script type="text/javascript" src="./javascripts/app.js"></script>
	<script type="text/javascript" src="./javascripts/AppConstants.js"></script>
	<script type="text/javascript" src="./javascripts/main.js"></script>

</body>
</html>