<!-- <div ng-show="showNewAddressForm"> -->

<h1 class="pageHeader">{{user.username}}'s Address Book</h1>

<div class="row">
	<div class="newAddressForm col-xs-4 col-xs-offset-4">
		<div class="new-address-form form-group">
		  <label>New Address:</label>
		  <input type="text" class="form-control" id="fName" size="15" placeholder="First Name" ng-model="newAddress.FirstName">
		  <input type="text" class="form-control" id="lName" size="15" placeholder="Last Name" ng-model="newAddress.LastName">  
		  <input type="text" class="form-control" id="street" placeholder="Street Address" ng-model="newAddress.StreetAddress">
		  <input type="text" class="form-control" id="city" size="20" placeholder="City" ng-model="newAddress.City">
		  <input type="text" class="form-control" id="state" size="5" placeholder="State" ng-model="newAddress.State">
		  <input type="text" class="form-control" id="zip" size="10" placeholder="Zip Code" ng-model="newAddress.Zip">
		  <input type="text" class="form-control" id="phone" size="15" placeholder="Phone" ng-model="newAddress.Phone">
		</div>

		// ui.bootstrap.Datepicker
		<p class="input-group">
	      <input type="date" class="form-control" uib-datepicker-popup ng-model="newAddress.Birthday" is-open="isOpened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	      <span class="input-group-btn">
	        <button type="button" class="btn btn-default" ng-click="isOpened2 = !isOpened2">
	          <i class="glyphicon glyphicon-calendar"></i>
	        </button>
	      </span>
	    </p>

		  <div class="buttonDiv">
			  <button type="button" class="btn btn-xs pull-right"><a ng-href="#!/addresses/list">Cancel</a></button>

			  <div ng-if="currentPath == '/address/new'">
			  	<button type="button" class="btn btn-xs pull-right" ng-click="addNewAddress()">Add</button>
			  </div>

			  <div ng-if="currentPath !== '/address/new'">
			    <button class="btn btn-xs pull-right" ng-click="addNewAddress()"><a ng-href="#!/address/edit/{{address.id}}">Update</a></button>
		      </div>
		  </div>
	</div> <!-- .col -->
</div>  <!-- .row -->
<!-- </div>  ng-show -->