body {
  background-size: cover;
  background-image: url("/images/wallpaper.jpeg"); }

.pageHeader {
  text-align: right;
  margin-right: 50px;
  color: #BEBBBB; }

.nameCard {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 3px solid #C0C0C0;
  border-radius: 10px;
  background-color: #DAE6F2;
  margin-top: 50px;
  margin-left: 25px;
  padding-left: 25px; }
  .nameCard h4 {
    margin-top: 15px;
    margin-bottom: 0;
    color: #2F4F4F; }
  .nameCard .phone {
    margin-bottom: 0px; }

.buttonDiv {
  margin-bottom: 40px; }
  .buttonDiv button {
    margin-right: 5px; }
